footer {
  margin-bottom: 0px;
}

.links-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

ul {
  list-style-type: none;
  text-align: center;
  padding: 0;
}

li {
  margin: 1rem;
}

.logo-footer img {
  width: 170px;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

p.copyright {
  font-size: 15px;
  color: darkgray;
}

li:hover {
  transition: ease 0.2s;
  text-decoration: underline;
  color: var(--color-purple);
}
