* {
  box-sizing: border-box;
}

body {
  width: 100vw;
  background-color: white;
  font-family: var(--font-family-base);
  color: var(--color-klein-blue);
  margin: 0;
  padding: 0;
  padding-bottom: 0px;
}

.hero {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
.hero-wrapper {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}
.hero-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.about-us-image img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.section-header {
  border-top: solid 2px var(--color-klein-blue);
  border-bottom: solid 2px var(--color-klein-blue);
}

/* --- OFFER --- */
.offer-container {
  position: absolute;
  justify-content: center;
  align-items: center;
  right: 5%;
}
.offer-container p {
  color: white;
  display: flex;
  justify-content: flex;
}
.offer-circle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 50vw;
  height: 50vw;
  background-color: var(--color-purple);
  opacity: 70%;
  border-radius: 50%;
  padding: 1rem;
}
.offer-text {
  position: absolute;
  align-items: center;
}
.btn-read-more-desktop {
  display: none;
}

.btn-read-more-mobile {
  width: 12rem;
  height: 3.75rem;
  background-color: var(--color-pink);
  border: none;
  color: var(--color-klein-blue);
  margin: 2rem;
  font-family: "Inter-bold";
  letter-spacing: 0.1rem;
  font-size: var(--btn);
}

.btn-read-more:hover {
  background-color: var(--color-pink-hover);
}

main {
  display: flex;
  flex-direction: column;
}

h2 {
  font-family: "Inter-bold";
  font-size: var(--h2-mobile);
  margin: 10px 0 10px 25px;
}
p {
  font-size: var(--p);
  margin: 2rem;
}

.about-us {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 2rem;
}

.quote {
  font-size: var(--p-quote);
  font-style: italic;
  text-align: center;
}
.quote-circle {
  display: flex;
  justify-content: center;
  background-color: var(--color-pink);
  width: 24rem;
  height: 24rem;
  border-radius: 50%;
  margin-top: 3rem;
}

.hidden {
  display: none;
}
